<div id="content_area">
  <div id="user_photo_left">
    <img src="http://graph.facebook.com/<%= @user.fb_nickname %>/picture?type=large" />
  </div>

  <div id ="user_info_right">
    <div id="user_name">
      <%= @user.full_name %>
    </div>
    <% if current_user && current_user.id == @user.id %>
    <div id="user_edit">
      <button>Edit</button>
    </div>
    <% end %>
    <div id="user_headline">
      User headline/pitch
    </div>
    <div id="user_nav_panel">
      <input class="user_nav_button" type="button" value="Skills/Resources" />
      <input class="user_nav_button" type="button" value="Projects" />
      <input class="user_nav_button" type="button" value="Timeline/Past Projects" />
      <input class="user_nav_button" type="button" value="Updates/Blog" />
      <input class="user_nav_button" type="button" value="Groups" />
      <input class="user_nav_button" type="button" value="Badges/Achievements" />
      <input class="user_nav_button" type="button" value="Contact" />
    </div>
  </div>

  <div id="user_content">
    <%= render 'home' %>
  </div>

</div>
