@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
/* Web Fonts
--------------------------*/
/* Mixins
--------------------------*/
/* Default CSS 
--------------------------*/
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, pre, abbr, acronym, ul, ol, li, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: small;
  font-family: inherit;
  vertical-align: baseline;
  line-height: normal; }

body {
  font-family: sans-serif;
  background-color: #e6e6e6; /*Lee playing around*/
}

h1, h2, h3, h4, h5, h6, h7 {
  color: #FFF; }

h1 {
  letter-spacing: -0.04em;
  font-size: 2.5em;
  font-weight: 300; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.9em; }

h4 {
  font-size: 1.3em; }

h5 {
  font-size: .9em; }

a {
  text-decoration: none;
  color: #f05a2d;
  text-underline: none;
  -moz-transition: color 0.5s;
  -webkit-transition: cubic-bezier(0.1, 0.1, 0.25, 0.9), color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

a:hover {
  color: #FFF; }

p {
  color: #333;
  font-weight: normal; }

html {
  overflow-y: scroll; }

img {
  vertical-align: bottom; }

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* IE6 */
* html .clearfix {
  height: 1%; }

/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%; }

input {
  vertical-align: middle; }

body {
  background-size: 140% auto;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  @media screen and (max-width: 600px) {
    body {
      background: #FFF; } }

.content-wrap {
  width: 100%;
  margin: auto; }
  .content-wrap .content {
    max-width: 960px;
     }

.content-wrap {
  background-color: #333;
  border-bottom: 4px solid #222222; }
  .content-wrap #header-wrap {
    max-width: 960px;
    background: #333;
    padding: 20px 2%;
    margin: auto; }
    .content-wrap #header-wrap #logo-wrap {
      float: left; }
      @media screen and (max-width: 600px) {
        .content-wrap #header-wrap #logo-wrap {
          float: none;
          margin: auto;
          text-align: center;
          width: 100%; } }
      .content-wrap #header-wrap #logo-wrap #header-logo a:hover {
        background-color: none; }
      .content-wrap #header-wrap #logo-wrap #header-logo img {
        width: 250px; }
        @media screen and (max-width: 600px) {
          .content-wrap #header-wrap #logo-wrap #header-logo img {
            width: 90%;
            margin-top: -40px; } }
      .content-wrap #header-wrap #logo-wrap .subhead-text {
        font-size: 1.4em;
        color: #FFF; }
    .content-wrap #header-wrap h3 {
      color: #f05a2d;
      font-size: 1.5em; }
  @media screen and (max-width: 600px) {
    .content-wrap .header-nav-wrap {
      float: none;
      margin: auto;
      text-align: center;
      width: 100%; } }
  .content-wrap .header-nav-wrap .header-nav {
    float: left;
    margin: 4px 0 0 5%; }
    .content-wrap .header-nav-wrap .header-nav a {
      font-size: 20px;
      -moz-transition: all 0.5s;
      -webkit-transition: cubic-bezier(0.1, 0.1, 0.25, 0.9), all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    .content-wrap .header-nav-wrap .header-user {
	float: right;
	margin: 0px 0 0 5%;
	font-size: 20px;
	color: #FFF;
	}
    .content-wrap .header-nav-wrap .header-nav span {
      color: #FFF;
      font-size: 15px; }

#header-content {
  text-align: right;
  max-width: 900px;
  margin: auto;
  padding: 20px; }
  #header-content a {
    font-size: 1.2em;
    font-weight: bold; }
  #header-content p {
    font-size: 1.6em; }

#interactive-image {
  margin-left: auto;
  margin-right: auto; }
  #interactive-image img {
    width: 100%; }

.front-projects .content-wrap {
  border-bottom: 4px solid #222222; }
  .front-projects .content-wrap .content {
    width: 100%;
    margin: auto;
    max-width: none; }
    .content-wrap .content .section {
      padding: 25px 2% 25px;
      max-width: 960px;
      margin: auto; }
      .front-projects .content-wrap .content .section #section-title-area {
        background-color: #4E4E4F; }
      .front-projects .content-wrap .content .section #section-projects-area {
        background-color: #4E4E4F; }
      .front-projects .content-wrap .content .section p {
        color: #f05a2d; }
  .front-projects .content-wrap .projects {
    background-color: #343433; }
  .front-projects .content-wrap .header {
    background-color: #4E4E4F; }

#map {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #map img {
    width: 100%; }

#project_developers {
  background-image: url("../imgs/developers.png");
  width: 1260px;
  height: 408px;
  margin-left: auto;
  margin-right: auto; }

#footer {
  background: #2d2d2d;
  height: 70px;
  border-top-width: 4px;
  border-top-style: solid;
  border-color: #9dcb4b;
  clear: both; }

h1.section_title {
  padding-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  font-family: Myriad Pro;
  font-weight: 100;
  font-size: 30pt;
  color: #cccccc;
  text-transform: lowercase; }

div.project_tile {
  width: 200px;
  background-color: #5b5b5b;
  float: left;
  padding-bottom: 7px;
  margin-left: 0px;
  margin-right: 40px;
  position: relative; 
}

div.project_tile img{
  width: 100%;
}

div.first {
  margin-left: 0;
  padding-left: 0; }

div.last {
  margin-right: 0;
  padding-right: 0; }

div.project_tile_title {
  color: #f05a2d;
  text-transform: lowercase; }

div.project_details {
  padding: 10px;
  height: 130px;
  overflow: hidden; }

div.project_tile_pitch {
  height: 95px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  font-weight: 100;
  font-size: 11pt;
  font-stretch: expanded;
  text-overflow: clip; }

div.project_tile_view_more_link {
  color: #f05a2d;
  font-family: Myriad Pro;
  font-size: 10pt;
  text-transform: lowercase;
  float: right;
  padding-right: 10%;
  padding-bottom: 5%; }

div.project_tile_status {
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #e5e5e5;
  bottom: 0; }

div.project_tile_status_completed {
  height: 7px;
  background-color: #f05a2d; }
