/* Controls the max width of content between the header and footer */
#full-content-wrapper {
	max-width: 960px;
	margin:auto;
}

#footer {
/*	border-color: #FF5113 ! important; */
	border-color: #222222 ! important;
/*	border-top-width: 0px ! important; *//* Getting rid of the orange bar at the top of the footer */
}

body {
	background-color: #e6e6e6 ! important;
}

#interactive-image {
	border-bottom: 4px solid #222222;
}
