<div class='content-wrap clearfix'>
	
	<div class="content header">
		<div class="section section-title-area">
			<h1 class="section-title">about nexus</h1>
		</div>
	</div>

	<div class="content">
		<div class="section" style="background-color:#EEEEEE; border-color:#666666;">
			<p class="static-text">Who do you think is most likely to succeed in a project--a development team at a big national firm or a small community group right here in your city? For years, professional project teams have been reaping the benefits of technology, making communication and sharing simple, providing proven project templates and frameworks, and allowing for easy accountability and assignment of tasks.</p>
			<p class="static-text">Meanwhile, community groups, volunteers, and start-ups either have to pay big bucks that they can't afford to use those same tools or just make due with email listservs and other not-quite-right solutions. The result? Frequent miscommunication, difficulty in delegation, a huge disconnect between available resources and projects that could use them, and a general chaos surrounding project management that makes it very hard to get stuff done.</p>
			<p class="static-text">Nexus aims to solve this problem, giving the community the technology, tools, and best practices used by big corporations in a format geared towards community and start-up efforts. In short, Nexus is a community-based project management app that 1) matches needs to resources in the community and 2) facilitates project progression in smart ways (both online and offline), all with the goal of seeing more project success in the real world.</p>
			<p class="static-text">Please contact us <a href="mailto:contact@troynex.us">here</a> with any questions or feedback.
			<img src="http://troynex.us/assets/graphics/splash-image.png" style="width: 60%; position: relative; margin: auto auto; padding: 1em; display: block; min-width:200px;"/> <!-- This is a horrible way to implement it -->
		</div>
	</div>


<!--	<div class="content header">
		<div class="section section-title-area">
			<h1 class="section-title">about the developers</h1>
		</div>
	</div>

	<div class="content">
		<div class="section">
			<p>Bleurgh!</p>
		</div>
	</div>  -->

</div>
