<% if current_user %>

  <div id="project_contact_past_conversations">
    <%= render 'projects/contact/conversations', :view => "received"  %>
  </div>
  
  <div id="project_contact_compose_message">
    <%= render 'projects/contact/compose_message', :to_user => @project.user, :subject => ""  %>
  </div>
  
<% end %>
