<div id="message_thread">

</div>

<div id="message_view">
  <% @message = Message.find(message_id) %>
  <%= @message.subject %> <br/>
  <%= @message.message %>
</div>

<% if current_user == @message.sender %>
  <% @send_to_user = @message.recipient %>
<% else %>
  <% @send_to_user = @message.sender %>
<% end %>

<div id="message_reply">
  <%= render 'projects/contact/compose_message', :to_user => @send_to_user, :subject => @message.subject  %>
</div>
