/* Web Fonts
--------------------------*/

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

$default-color:#F05A2D;


/* Mixins
--------------------------*/

@mixin bg-img ( $location, $width, $height ) { background:url('../graphics/' + $location); height:$height; width:$width; background-size:$width auto; background-repeat:no-repeat; }
@mixin body-background ( $location, $width, $height ) { background:url('../graphics/' + $location); background-size:$width auto;background-repeat:no-repeat; }
@mixin transition($values){-moz-transition: $values;-webkit-transition: cubic-bezier(.10, .10, .25, .90), $values;-o-transition: $values;transition: $values;}



/* Default CSS 
--------------------------*/

html,body,div,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,a,pre,abbr,acronym,ul,ol,li,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:small; font-family:inherit; vertical-align:baseline; line-height: normal; }
body { font-family: sans-serif;}
h1, h2, h3, h4, h5, h6, h7 { color:#FFF; }
h1 { letter-spacing: -0.04em; font-size:2.5em; font-weight:300;}
h2 { font-size:2.2em; }
h3 { font-size:1.9em; }
h4 { font-size:1.3em; }
h5 { font-size:.9em; }
a { text-decoration:none; color:$default-color; text-underline:none; @include transition(color 0.5s); } a:hover { color:#FFF;  }
p { color:#333; font-weight:normal; }
html {overflow-y: scroll; }
body { }
img { vertical-align:bottom; }

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

input { vertical-align: middle; }

body { @include body-background ('splash-background.png', 140%, auto ); background-attachment:fixed; 

 @media screen and (max-width: 600px) { & { background:#FFF; }}}

	
.content-wrap {  width:100%; margin:auto; 
	@media screen and (max-width: 600px) { & { }}
	.content { max-width:960px; margin:0 auto 50px;}}

.content-wrap {  background-color:#333; border-bottom:4px solid #222;
	#header-wrap {  max-width:960px; background:#333; padding: 20px 2%; margin:auto;
		#logo-wrap{ float:left; 
			@media screen and (max-width: 600px) { & { float:none; margin:auto; text-align:center; width:100%; }}
			#header-logo {
				a:hover {background-color:none;}
				img{ width:250px; 
					@media screen and (max-width: 600px) { & { width:90%; margin-top:-40px; }}}}
					.subhead-text { font-size:1.4em; color:#FFF; }}
					h3 { color:$default-color; font-size:1.5em; }}
					.header-nav-wrap{ 
						@media screen and (max-width: 600px) { & { float:none; margin:auto; text-align:center; width:100%; }}
						.header-nav { float:left; 	margin: 20px 0 0 5%;
			a{font-size:20px; @include transition(all 0.5s);}
			span{color:#FFF; font-size: 15px;}}}}
	
#header-content { text-align:right; max-width:900px; margin:auto; padding: 20px;
	a { font-size:1.2em; font-weight:bold; }
	p { font-size:1.6em; }}
		
#interactive-image {
	margin-left: auto;
	margin-right: auto;
	img { width:100%; }}

.front-projects {	
	.content-wrap {   border-bottom:4px solid #222;
	.content { 	width: 100%; margin: auto; max-width: none; 
		.section { padding: 25px 2% 25px; max-width: 960px; margin: auto;
			#section-title-area { background-color: #4E4E4F;  }
			#section-projects-area  { background-color: #4E4E4F; }
			h1 { }
			p { color:$default-color;}}}
	.projects{background-color:#343433;}
	.header{ background-color: #4E4E4F; }}}

#local-projects { }
#featured-projects { }

#map { width: 100%; margin-left: auto; margin-right: auto; 
	img { width:100%; }}

#project_developers
{
	background-image: url('../imgs/developers.png');
	width: 1260px;
	height: 408px;
	margin-left: auto;
	margin-right: auto;
}
#footer
{
	background: rgb(45,45,45);
	height: 70px;
	border-top-width: 4px;
	border-top-style: solid;
	border-color: rgb(157,203,75);
}
div.section_title_area
{
	
}
h1.section_title
{
	padding-top: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	font-family: Myriad Pro;
	font-weight: 100;
	font-size: 30pt;
	color: rgb(204,204,204);
	text-transform: lowercase;
}

div.tile-wrap {}

div.project_tile
{
	width:20%;
	background-color: rgb(91,91,91);
	float: left;
	padding-bottom: 7px;
	margin-left: 2%;
	margin-right: 2%;
	position:relative;
}

div.first {margin-left:0; padding-left:0;}
div.last { margin-right:0; padding-right:0;}

div.project_tile_title
{
	color: $default-color;
	font-family: Myriad Pro;
	text-transform: lowercase;
}
div.project_details
{
	padding: 10px;
	height: 130px;
	overflow: hidden;
}
div.project_tile_pitch
{
	height: 95px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: Myriad Pro;
	color: rgb(255,255,255);
	font-weight: 100;
	font-size: 11pt;
	font-stretch:expanded;
	text-overflow: clip;
}
div.project_tile_view_more_link
{
	color: $default-color;
	font-family: Myriad Pro;
	font-size: 10pt;
	text-transform: lowercase;
	float:right;
	padding-right: 10%;
	padding-bottom: 5%;
}
div.project_tile_status
{
	position:absolute;
	width: 100%;
	height: 7px;
	background-color: rgb(229,229,229);
	bottom:0;
}
div.project_tile_status_completed
{
	
	height: 7px;
	background-color: $default-color;
}