<% @featured.shuffle.last(4).each do |project| %>

<div class="project_tile">
  <img src="uploads/'+project.miniimage+'" />
  <div class="project_details">
    <div class="project_tile_title">
      <%= link_to project.name, project %>
    </div>
    <div class="project_tile_pitch">
      <%= project.pitch %>
    </div>
  </div>
  <div class="project_tile_view_more_link">
    <%= link_to "view more", project %>
  </div>
  <div class="project_tile_status">
    <div class="project_tile_status_completed" style="width: +<%= project.status %>%"></div>
  </div>
</div>

<% end %>

