<div class="front-projects">
	
    	<div class='content-wrap clearfix'>
			<div class="content header">
				<div class="section" id="section-title-area">
					<h1 class="section-title">featured projects</h1>
					<a href="#"> troy, ny (change)</a>
				</div>
			</div>
			<div class="content projects">
				<div class="section" id="section-projects-area">
					<div id="featured-projects" class="tile-wrap clearfix">
					  <%= render 'featured-projects' %>
					</div>
				</div>
			</div>
		</div>
		
		<div class='content-wrap clearfix'>
			<div class="content header">
				<div class="section" id="section-title-area">
					<h1 class="section-title">local projects</h1>
					<a href="#"> troy, ny (change)</a>
				</div>
			</div>
			<div class="content projects">
				<div class="section" id="section-projects-area">
					<div id="local-projects" class="tile-wrap clearfix"></div>
					<%= render 'local-projects' %>
				</div>
			</div>
		</div>
		
		<div class='content-wrap clearfix'>
			<div class="content header">
				<div class="section" id="section-title-area">
					<h1 class="section-title">new projects</h1>
					<a href="#"> troy, ny (change)</a>
				</div>
			</div>
			<div class="content projects">
				<div class="section" id="section-projects-area">
					<div id="local-projects" class="tile-wrap clearfix"></div>
					<%= render 'new-projects' %>
				</div>
			</div>
		</div>
	
</div>
