<div class="home_map_view">
  <div id="map_canvas"></div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
      var co_ordinate = [
        [
          "Project Nexus",
          "Community Project Management for All!",
          "42.732201",
          "-73.689205"
        ],
        [
          "Center of Gravity",
          "Making the Tech Valley an irresistible destiniation for young professionals.",
          "42.732601",
          "-73.689105"
        ]
      ],
      mapOptions = {
        center: new google.maps.LatLng(42.732701,-73.689665),
        mapTypeId: google.maps.MapTypeId.SATELLITE,
        zoom: 18,
        disableDefaultUI: true,
        scrollwheel: false,
        draggable: false,
        heading: 180
      },
      map = new google.maps.Map(document.getElementById('map_canvas'),mapOptions);
      for (var i = 0; i < co_ordinate.length; i++) {
        var location = co_ordinate[i];
        var branch = new google.maps.LatLng(location[2], location[3]);
        var marker = new google.maps.Marker({
          position: branch,
          map: map,
          html: "<div class='map-popup-content'><b>"+location[0]+"</b><br/>"+location[1]+"</div>"
        });
        var infowindow = new google.maps.InfoWindow({
          content: "holding..."
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(this.html);
          infowindow.open(map,this);
        });
      }
  });
</script>
