<html>

  <body>    
		
	
    <div id="interactive-image">
		<img src="../imgs/interactive.png">
    </div>

	<div class="front-projects">
	
    	<div class='content-wrap clearfix'>
			<div class="content header">
				<div class="section" id="section-title-area">
					<h1 class="section-title">featured projects</h1>
					<a href="#"> troy, ny (change)</a>
				</div>
			</div>
			<div class="content projects">
				<div class="section" id="section-projects-area">
					<div id="featured-projects" class="tile-wrap clearfix">
					  <%= render 'featured' %>
					</div>
				</div>
			</div>
		</div>
		
		<div class='content-wrap clearfix'>
			<div class="content header">
				<div class="section" id="section-title-area">
					<h1 class="section-title">local projects</h1>
					<a href="#"> troy, ny (change)</a>
				</div>
			</div>
			<div class="content projects">
				<div class="section" id="section-projects-area">
					<div id="local-projects" class="tile-wrap clearfix">
					  <%= render 'featured' %> 
					</div>
				</div>
			</div>
		</div>
	
	</div>
    
    <div id="map">
		<img src="../imgs/map.png">
    </div>

<div id="project-developers">

	<div class='content-wrap clearfix'>
			
			<div class="content header">
				<div class="section" id="section-title-area">
					<h1 class="section-title">project developers</h1>
				</div>
			</div>
			<div class="content profiles">
				<div class="section" id="section-profiles-area">
					<div id="developer-profiles" class="tile-wrap clearfix"></div>
				</div>
			</div>

    	</div>

</div>

  </body>
</html>
