<html>

  <head>
    <title>Troy Nexus</title>
    <link rel="stylesheet" href="public/css/reset.css" />
    <link rel="stylesheet" href="public/css/global.css" />
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  </head>

  <body>    

    <div id="interactive-image">
		<img src="../imgs/interactive.png">
    </div>
    <div class="front-projects clearfix">
		<div class="section-title-area">
			<h1 class="section-title">featured projects</h1>
		</div>
		<div id="featured-projects" class="tile-wrap clearfix">
				
		</div>
    </div>

    <div class="front-projects clearfix">
		<div class="section-title-area">
			<h1 class="section-title">local projects</h1>
		</div>
		<div id="local-projects" class="tile-wrap clearfix">		
	
		</div>
    </div>
    
    <div id="map">

    </div>

    <div id="project-developers">

    </div>

 
  </body>
</html>
