<html>

  <head>
    <title>Troy Nexus</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/global.css" />
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
    <div id="header">
    	<div id="header_container">
    		<img class="header_nexus_logo" src="imgs/logo.png" alt="Nexus Logo" />
    		<div class="header_login">already have an account? <a class="header_login_link" href="#">sign in</a></div>
    	</div>
    </div>

    <div id="interactive_image">

    </div>

    <div id="local_projects">
		<div class="section_title_area">
			<h1 class="section_title">local projects</h1>
		</div>
    </div>

    <div id="nearby_projects">
		<div class="section_title_area">
			<h1 class="section_title">nearby projects</h1>
		</div>
    </div>
    
    <div id="map">

    </div>

    <div id="project_developers">

    </div>

    <div id="footer">

    </div>
  </body>
</html>
