<div id='section-header' class='content-wrap clearfix'>
	<div id="header-wrap" class="clearfix">
		<div id="logo-wrap">
			<div id='header-logo'><a href="../"><img src="/imgs/nexus-logo.png"></a></div>
			<p class='subhead-text'>troy, ny</p>
		</div>
			<div class="header-nav-wrap">
				<div class="header-nav">
				<a href="../browse">browse<br><span>projects</span></a>
				
			</div>
			<div class="header-nav">
				<a href="../projects/new">create a<br><span>projects</span></a>
			</div>
		</div>
	</div>
</div>