<div id="assigned_tasks_list">
  <ul>
    <% current_user.tasks.each do |task| %>
      <% if task.objective.project_id == @project.id %>
        <li>
	  <%= task.name %>
	</li>
      <% end %>
    <% end %>
  </ul>
</div>
