<div id="project_description"><%= @project.description %></div>
<div id="project_needs">
Project Needs:
<% @project.objectives.each do |objective| %>
<ul>
  <% objective.tasks.find(:all, :conditions => "user_id IS NULL").each do |task| %>
    <%= render 'projects/objectives_tasks/available_task_expandable', :task => task %>
  <% end %>
</ul>
<% end %>
</div>
