<div id="discover_content">

  <div id="project_featured">
    Featured/Curated/Sponsored project
  </div>
  
  <div id="project_catagories">
    <% @categories.each do |category|  %>
    <div class="project_catagory_button">
      <%= category.name %>
    </div>
    <% end %>
  </div>
  
  <div id="project_popular_projects">
    Popular projects go here
  </div>
  
  <div id="project_new_projects">
    New projects go here
  </div>
  
  <div id="project_local">
    Local projects go here
  </div>

</div>
