<h1>Listing memberships</h1>

<table>
<% @memberships.each do |membership| %>
  <tr>
    <td><%= membership.user.full_name %></td>
    <td><%= membership.level.name %></td>
  </tr>
<% end %>
</table>



